<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Applicant Lists</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1 th:text="|All Applicants|"></h1>
<table class="table table-striped table-sm table-hover text-center .table-bordered">
  <thead class="table-dark">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Middlename</th>
    <th>Birth date</th>
    <th>Telephone</th>
    <th>middle ZNO</th>
    <th>middle School</th>
    <th>X</th>
    <th>Applications</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="a : ${applicants}">
    <td th:text="${a.id}"></td>
    <td th:text="${a.name}"></td>
    <td th:text="${a.lastname}"></td>
    <td th:text="${a.middlename}"></td>
    <td th:text="${a.birthdate}"></td>
    <td th:text="${a.telephonenumber}"></td>
    <td th:text="${a.middleZNO}"></td>
    <td th:text="${a.middleSchool}"></td>
    <td>
      <a class="btn btn-outline-danger" data-bs-toggle="modal"
         data-bs-target="#myconfirm"
         th:attr="data-bs-link=@{/delete_applicant(id=${a.id})}, data-bs-text=${a.lastname}, data-bs-id=${a.id}">Delete</a>
    </td>
    <td><a th:href="@{/application(id=${a.id})}" class="btn btn-sm btn-outline-dark">View</a></td>
    <td><a th:href="@{/edit_applicant(id=${a.id})}" class="btn btn-sm btn-outline-dark">Edit</a></td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete applicant?<br/>
        If you click delete, this action <i>cannot be undone</i>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-danger delete-button">Delete</a>
      </div>
    </div>
  </div>
</div>
<script>
  var myConfirmModal = document.getElementById('myconfirm')
  myConfirmModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var link = button.getAttribute('data-bs-link')
    var tid = button.getAttribute('data-bs-id')
    var text = button.getAttribute('data-bs-text')
    var modalTitle = myConfirmModal.querySelector('.modal-title')
    modalTitle.textContent = 'Deleting applicant: ' + text + ' (' + tid + ')'
    var deleteButton = myConfirmModal.querySelector('.delete-button')
    deleteButton.setAttribute("href", link)
  })
</script>
<form action="add_applicant" method="post">
  <input type="text" name="name" placeholder="name" class=" form-sm form-control placeholder-glow">
  <input type="text" name="lastname" placeholder="lastname" class="form-sm form-control placeholder-glow">
  <input type="text" name="middlename" placeholder="middlename" class="form-sm form-control placeholder-glow">
  <input type="date" name="birthdate" class="form-control form-sm">
  <input type="number" name="telephonenumber" placeholder="number of telephone " class="form form-sm form-control placeholder-glow">
  <input type="number" step="0.1" name="middleZNO" placeholder="middle ZNO mark" class="form-sm form-control placeholder-glow">
  <input type="number" step="0.1" name="middle_school" placeholder="middle School's mark" class="form-sm form-control placeholder-glow">
  <button type="submit" class="btn btn-outline-dark">
    Add
  </button>
</form>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>