<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редагувати</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>Редагувати вступний екзамен</h1>
<form action="update_admision_exam" method="post">
  <input type="hidden" name="id" th:value="${admisionExam.id}">
  <label for="asubject" class="form-control-sm">Предмет</label><br/>
  <input type="text" th:value="${admisionExam.subject}" id="asubject" name="asubject" class="form-control-sm"><br/>
  <label for="apassingMark" class="form-control-sm">Прохідний бал</label><br/>
  <input type="number" th:value="${admisionExam.passingMark}" id="apassingMark" name="apassingMark" class="form-control-sm"><br/>
  <label for="atime" class="form-control-sm">Час</label><br/>
  <input type="time" th:value="${admisionExam.time}" id="atime" name="atime" class="form-control-sm"><br/>
  <label for="aadress" class="form-control-sm">Адреса</label><br/>
  <input type="text" th:value="${admisionExam.adress}" id="aadress" name="aadress" class="form-control-sm"><br/>
  <label for="adate" class="form-control-sm">Дата</label><br/>
  <input type="date" th:value="${admisionExam.date}" id="adate" name="adate" class="form-control-sm"><br/>

  <button type="submit" class="btn btn-outline-primary">Оновити</button>
</form>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>