<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редагувати</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>Редагувати заяву</h1>
<form action="update_faculty" method="post">
    <input type="hidden" name="id" th:value="${faculty.id}">
    <label for="aname" class="form-control-sm">Назва</label><br/>
    <input type="text" th:value="${faculty.name}" id="aname" name="aname" class="form-control-sm"><br/>
    <label for="adescription" class="form-control-sm">Опис</label><br/>
    <input type="text" th:value="${faculty.description}" id="adescription" name="adescription" class="form-control-sm"><br/>
    <label for="adeanName" class="form-control-sm">ПІБ Декана</label><br/>
    <input type="text" th:value="${faculty.deanName}" id="adeanName" name="adeanName" class="form-control-sm"><br/>
    <label for="anumberOfStudents" class="form-control-sm">Кількість студентів</label><br/>
    <input type="number" th:value="${faculty.numberOfStudents}" id="anumberOfStudents" name="anumberOfStudents" class="form-control-sm"><br/>
    <label for="anumberOfTeachers" class="form-control-sm">Кількість викладачів</label><br/>
    <input type="number" th:value="${faculty.numberOfTeachers}" id="anumberOfTeachers" name="anumberOfTeachers" class="form-control-sm"><br/>
    <button type="submit" class="btn btn-outline-primary">Оновити</button>
</form>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>