<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Вітаємо!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>Ласкаво просимо на сторінку Національного Політехнічного Університету імені Сергія Жадана</h1>
<p>Виберіть дію:</p>
<ul>
    <li><a href="applicants" class="btn btn-outline-dark">Переглянути всіх абітурієнтів</a></li>
    <li><a href="information" class="btn btn-outline-dark">Інформація про університет</a></li>
    <li><a href="admision_exams" class="btn btn-outline-dark">Вступні екзамени</a></li>
    <li><a href="admision_exams_specializations" class="btn btn-outline-dark">Екзамени спеціальності</a></li>
</ul>
</body>
</html>
