<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>Welcome to the page of National Polytechnic University named after Serhiy Zhadan developed in Ukraine</h1>
<p>Choose an action:</p>
<ul>
    <li><a href="applicants" class="btn btn-outline-dark">View all applicants</a></li>
    <li><a href="information" class="btn btn-outline-dark">University information</a></li>
</ul>
</body>
</html>
