<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NPU Zhadan</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>  National Polytechnic University named after Serhiy Zhadan</h1>
<p> National Polytechnic University named after Serhiy Zhadan (NPU) is a leading higher education institution in Ukraine, located in the city of Kharkiv. The university is named after Serhiy Zhadan, a prominent Ukrainian writer and poet.</p>
<p> Founded in 1885, NPU has a rich history of providing high-quality education in engineering, technology, and applied sciences. The university has a strong reputation for academic excellence and is consistently ranked among the top universities in Ukraine.</p>
<p> NPU offers undergraduate and graduate programs in a wide range of fields, including mechanical engineering, electronics, computer science, civil engineering, chemical engineering, and many others. The university also has a strong focus on research, with numerous research centers and institutes dedicated to advancing knowledge in various fields.</p>
<p> In addition to its academic programs, NPU is also known for its vibrant student life. The university has a diverse student body, with students from all over Ukraine and many other countries around the world. There are many student organizations and clubs on campus, as well as numerous sports teams and facilities.</p>
<p> NPU is committed to providing its students with a well-rounded education that prepares them for successful careers and meaningful lives. The university has a strong emphasis on practical, hands-on learning, with many opportunities for internships, co-op programs, and research projects.</p>
<a th:href="faculties">     Faculties</a>
</body>
</html>