<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NPU Zhadan</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1>Національний політехнічний університет імені Сергія Жадана</h1>
<p>.  Національний політехнічний університет імені Сергія Жадана (НПУ) - провідний вищий навчальний заклад України, розташований у місті Харкові. Університет названо на честь Сергія Жадана, видатного українського письменника та поета.
<p>.   Заснований у 1885 році, НПУ має багату історію надання високоякісної освіти в галузі інженерії, технологій та прикладних наук. Університет має міцну репутацію академічної досконалості та постійно входить до числа найкращих університетів України.
<p>.   НПУ пропонує бакалаврські та магістерські програми в широкому спектрі галузей, включаючи машинобудування, електроніку, інформатику, цивільне будівництво, хімічну інженерію та багато інших. Університет також приділяє значну увагу науковим дослідженням, маючи численні дослідницькі центри та інститути, що займаються поглибленням знань у різних галузях.</p> <p>
<p>.   На додаток до своїх академічних програм, НПУ також відомий своїм яскравим студентським життям. Університет має різноманітний студентський колектив, в якому навчаються студенти з усієї України та багатьох інших країн світу. На кампусі є багато студентських організацій та клубів, а також численні спортивні команди та споруди.</p> <p>
<p>.   НПУ прагне надати своїм студентам всебічну освіту, яка готує їх до успішної кар'єри та змістовного життя. Університет робить сильний акцент на практичному, практичному навчанні, з багатьма можливостями для стажування, кооперативних програм та дослідницьких проектів.</p> <p>
<a th:href="faculties">.   Факультети</a>
</body>
</html>