<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Звіти</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<ul>
    <li><a href="zvity" class="btn btn-outline-dark">Звіти</a></li>
    <li><a href="facultyStatisticsReport" class="btn btn-outline-dark">Статистика за факультетом</a></li>
    <li><a href="specializationApplicationsReport" class="btn btn-outline-dark">Список кількості поданих заяв для спеціальностей</a></li>
</ul>
</body>
</html>